.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  
}


.ekleme_formu input,
.ekleme_formu button,
.temizle {
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.ekleme_formu input {
  background: #e1e1e2;
}

.ekleme_formu button,
.temizle {
  background: #333;
  color: white;
}

.liste {
  padding: 20px 0;
}

.liste > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.liste > div:last-child {
  border-bottom: 0;
}

.yapildi {
  text-decoration: line-through;
}

.temizle{
   
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
  }
  .temizle:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
  .temizle:active {
    position:relative;
    top:1px;
  }


